@font-face {
  font-family: outfit;
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: young-serif;
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

:root {
  --primary-color-nutmeg: hsl(14, 45%, 36%);
  --primary-color-raspberry: hsl(332, 51%, 32%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-color-rose-white: hsl(330, 100%, 98%);
  --neutral-color-eggshell: hsl(30, 54%, 90%);
  --neutral-color-light-grey: hsl(30, 18%, 87%);
  --neutral-color-wenge-brown: hsl(30, 10%, 34%);
  --neutral-color-dark-charcoal: hsl(24, 5%, 18%);
  --desktop-width: 1440px;
  --mobile-width: 375px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: outfit, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--neutral-color-dark-charcoal);
}

h1,
h2 {
  font-family: young-serif, serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

ul {
  list-style-position: outside;
  padding-left: 30px;
}

ul li {
  margin-bottom: 15px;
  padding-left: 20px;
}

ul li span {
  /* padding-left: 10px; */
  line-height: 1.7;
}

.content-body {
  background-color: var(--neutral-color-eggshell);
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.content-wrapper {
  max-width: var(--desktop-width);
  width: 50%;
  background-color: var(--neutral-color-white);
  padding: 40px;
  border-radius: 30px;
  min-width: 500px;
}

.image-wrapper {
  border-radius: 20px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  display: block;
}

.content-info {
  padding-top: 40px;
}

.content-info > p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.preparation-time {
  padding: 20px;
  background-color: var(--neutral-color-rose-white);
  border-radius: 20px;
}

.preparation-time h3 {
  color: var(--primary-color-raspberry);
  padding-bottom: 10px;
}

.preparation-time ul li::marker {
  color: var(--primary-color-raspberry);
}

.preparation-time ul li span strong {
  margin-right: 5px;
}

.receipe-section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--neutral-color-light-grey);
}

.receipe-section:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.receipe-section > * {
  margin-bottom: 10px;
}

.receipe-section:last-child {
  margin-bottom: 0;
}

.receipe-section h2 {
  color: var(--primary-color-nutmeg);
}

.receipe-section ul li::marker {
  color: var(--primary-color-nutmeg);
}

.instructions ul {
  list-style-type: decimal;
}

.nutrition-table .row {
  display: flex;
  width: 100%;

  border-bottom: 2px solid var(--neutral-color-light-grey);
}

.nutrition-table .row:last-of-type {
  border-bottom: none;
}

.nutrition-table .row .col {
  width: 50%;
  padding: 10px 25px;
}

.nutrition-table .row .col.value {
  color: var(--primary-color-nutmeg);
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  .content-body {
    padding: 0;
  }

  .content-wrapper {
    width: 100%;
    padding: 0px;
    min-width: unset;
    border-radius: 0;
  }

  .image-wrapper {
    border-radius: 0;
    overflow: hidden;
  }

  .content-info {
    padding: 20px;
  }

  .content-info > p {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .preparation-time {
    padding: 20px;
    background-color: var(--neutral-color-rose-white);
    border-radius: 20px;
  }

  .preparation-time h3 {
    color: var(--primary-color-raspberry);
    padding-bottom: 10px;
  }

  .preparation-time ul li::marker {
    color: var(--primary-color-raspberry);
  }

  .preparation-time ul li span strong {
    margin-right: 5px;
  }

  .receipe-section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--neutral-color-light-grey);
  }

  .receipe-section:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }

  .receipe-section > * {
    margin-bottom: 10px;
  }

  .receipe-section:last-child {
    margin-bottom: 0;
  }

  .receipe-section h2 {
    color: var(--primary-color-nutmeg);
  }

  .receipe-section ul li::marker {
    color: var(--primary-color-nutmeg);
  }

  .instructions ul {
    list-style-type: decimal;
  }

  .nutrition-table .row {
    display: flex;
    width: 100%;

    border-bottom: 2px solid var(--neutral-color-light-grey);
  }

  .nutrition-table .row:last-of-type {
    border-bottom: none;
  }

  .nutrition-table .row .col {
    width: 50%;
    padding: 10px 25px;
  }

  .nutrition-table .row .col.value {
    color: var(--primary-color-nutmeg);
    font-weight: 600;
  }
}
